@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.weatherbody-day,
.weatherbody-night {
  min-height: 100vh;
  max-height: 400vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  animation: gradient-animation 5s ease infinite;
  background-size: 400% 400%;
  overflow-y: hidden;
}

.weatherbody-day {
  background: linear-gradient(159deg, #00ffe2, #547fff, #1d58f9);
}

.weatherbody-night {
  background: linear-gradient(180deg, #1f0bca 0%, #000b1f 100%);
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-right: 1vw;
  grid-template-rows: minmax(2, 11);
  grid-row: 40vh;
  column-gap: 1vw;
  align-items: flex-start;
  margin-top: 18px;
  padding: 0 calc(clamp(0px, 200px - 50vw, 200px));
  gap: 1vw;
  max-width: 2000px;
}

.twilight-wind-component {
}

.humidity-feelslike-component {
}

@media (min-width: 300px) {
  .weather-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    align-self: center;
  }
  .temperature-component {
    grid-column: 1;
    grid-row: 1;
  }
  .weeklyforecast-component {
    grid-column: 1;
    grid-row: 2;
    padding-top: 18px;
  }
  .uvindex-hourlyforecast-component {
    grid-column: 1;
    grid-row: 3;
    padding-top: 18px;
  }

  .airquality-twilight-wind-component {
    grid-column: 1;
    grid-row: 4;
    padding-top: 18px;
  }

  .news-humidity-feelslike-component {
    grid-column: 1;
    grid-row: 5;
    padding-top: 18px;
  }

  .map-component {
    grid-column: 1;
    grid-row: 6;
    padding-top: 18px;
  }

  .nasa-component {
    grid-column: 1;
    grid-row: 7;
    padding-top: 18px;
  }

  .othercities-component {
    grid-column: 1;
    grid-row: 8;
    padding-top: 18px;
  }
}

@media (min-width: 750px) {
  .weather-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    align-self: center;
  }
  .temperature-component {
    grid-column: 1;
    grid-row: 1;
  }
  .weeklyforecast-component {
    grid-column: 1;
    grid-row: 2;
    padding-top: 0;
  }
  .uvindex-hourlyforecast-component {
    grid-column: 2;
    grid-row: 1;
    padding-top: 0;
  }

  .airquality-twilight-wind-component {
    grid-column: 2;
    grid-row: 2;
    padding-top: 0;
  }

  .news-humidity-feelslike-component {
    grid-column: 2;
    grid-row: 3;
    padding-top: 0;
  }

  .map-component {
    grid-column: 1;
    grid-row: 3;
    padding-top: 0;
  }

  .nasa-component {
    grid-column: 1;
    grid-row: 4;
    padding-top: 18px;
  }

  .othercities-component {
    grid-column: 2;
    grid-row: 4;
    padding-top: 18px;
  }
}

@media (min-width: 1200px) {
  .weather-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    padding: 0;
    align-self: center;
  }
  .temperature-component {
    grid-column: 1;
    grid-row: 1;
  }
  .weeklyforecast-component {
    grid-column: 1;
    grid-row: 2;
  }
  .uvindex-hourlyforecast-component {
    grid-column: 2;
    grid-row: 1;
  }

  .airquality-twilight-wind-component {
    grid-column: 2;
    grid-row: 2;
  }

  .news-humidity-feelslike-component {
    grid-column: 2;
    grid-row: 3;
  }

  .map-component {
    grid-column: 1;
    grid-row: 3;
  }

  .nasa-component {
    grid-column: 3;
    grid-row: 1;
    padding-top: 0;
  }

  .othercities-component {
    grid-column: 3;
    grid-row: 2;
    padding-top: 0;
  }
}

@media (min-width: 1575px) {
  .weather-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }
  .temperature-component {
    grid-column: 1;
    grid-row: 1;
  }
  .weeklyforecast-component {
    grid-column: 1;
    grid-row: 2;
  }
  .uvindex-hourlyforecast-component {
    grid-column: 2;
    grid-row: 1;
  }

  .airquality-twilight-wind-component {
    grid-column: 2;
    grid-row: 2;
  }

  .news-humidity-feelslike-component {
    grid-column: 3;
    grid-row: 1;
  }

  .map-component {
    grid-column: 3;
    grid-row: 2;
  }

  .nasa-component {
    grid-column: 4;
    grid-row: 1;
  }

  .othercities-component {
    grid-column: 4;
    grid-row: 2;
  }
}

.component-container {
  background: rgba(64, 64, 64, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  width: fit-content;
  padding: 18px;
  height: fit-content;
  transition: all 0.5s;
}

.component-container:hover {
  transform: scale(1.05);
}

.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.group {
  display: flex;
  justify-self: start;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 400px;
  z-index: 2;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
