@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.weatherbody-day,
.weatherbody-night {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  animation: gradient-animation 5s ease infinite;
}

.weatherbody-day {
  background: linear-gradient(159deg, #00ffe2, #547fff, #1d58f9);
}

.weatherbody-night {
  background: linear-gradient(180deg, #1f0bca 0%, #000b1f 100%);
}

.weather-grid {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: flex-start;
  align-self: center;
  width: 90%;
  gap: 1vw;
}

.component-container {
  background: rgba(64, 64, 64, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  width: fit-content;
  padding: 1vw;
  height: fit-content;
  transition: all 0.5s;
}

.component-container:hover {
  /* border: 1px solid #00ffe2; */
  transform: scale(1.05);
}

.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
